<h2><%= "Edit #{@film.title}" %></h2>
<%= render 'form' %>

<br>
<%= link_to "Nevermind", film_path %>
<br><br>
<%= button_to "Delete #{@film.title}", film_delete_path(@film), method: 'delete', class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete #{@film.title}?"} %>
